In [2]:
import pandas as pd
from pathlib import Path

In [14]:
def create_dataframe(txt_folder_path, df_ids):
    data = []

    for _, row in df_ids.iterrows():
        file_path = Path(txt_folder_path) / row['filename']
        if file_path.exists():
            with open(file_path, 'r', encoding='utf-8') as file:
                text = file.read()
                data.append({'ID': row['ID'], 'filename': row['filename'], 'texte': text})
        else:

            data.append({'ID': row['ID'], 'filename': row['filename'], 'texte': ''})
    data_clean = pd.DataFrame(data)
    return data_clean

# train

In [13]:
txt_folder_path_train = '../datas/train_folder/txt_files/'
df_ids_train = pd.read_csv('../datas/train_folder/x_train_ids.csv')

df_texts = create_dataframe(txt_folder_path_train, df_ids_train)
df_texts.head()

   ID          filename                                              texte
0   0   Agen_100515.txt  Le : 12/11/2019\n \n \nCour d’appel d’Agen \n ...
1   1  Agen_1100752.txt  Le : 12/11/2019\n \n \nCour d’appel d’Agen \n ...
2   2     Agen_1613.txt  Le : 12/11/2019\n \n \nCour d’appel d’Agen \n ...
3   3     Agen_2118.txt  Le : 12/11/2019\n \n \nCour d’appel d’Agen \n ...
4   4    Agen_21229.txt  Le : 12/11/2019\n \n \nCour d’appel d’Agen \n ...

In [4]:
y_train = pd.read_csv("../datas/Y_train_predilex.csv")
y_train

      ID   sexe date_accident date_consolidation
0      0  homme    1991-04-09               n.c.
1      1  homme    2005-06-10         2010-01-19
2      2  femme    1997-09-26               n.c.
3      3  femme    1982-08-07         1982-11-07
4      4  homme    1996-11-26               n.c.
..   ...    ...           ...                ...
765  765  homme    2004-03-09               n.c.
766  766  femme    1981-05-03         2003-06-25
767  767  homme    2003-10-26         2004-04-07
768  768  homme    2003-05-17               n.c.
769  769  homme    2003-03-10         2004-12-12

[770 rows x 4 columns]

In [5]:
train_df = df_texts.merge(y_train, on="ID")

In [6]:
train_df.to_csv("../datas/train_data.csv", index=False)